#name {
  font-size:1em;
  letter-spacing: 3px;
  padding-top: 1px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-left: 10px;
  background-color: black;
  line-height: 1.2em;
  text-align: center; 
  color: white;
  font-family: 'Lora', serif;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;

}
#blurb {
  font-size:.7em;
  padding-top: 1px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-left: 10px;
  background-color: black;
  line-height: 1.2em;
  text-align: left; 
  color: white;
  font-family: 'Lora', serif;

}

